<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="youke.common.dao.IWxPerMultipleRecordMapper" >
  <resultMap id="BaseResultMap" type="youke.common.model.TWxPerMultipleRecord" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="taskId" property="taskid" jdbcType="BIGINT" />
    <result column="wxPersonal" property="wxpersonal" jdbcType="VARCHAR" />
    <result column="deviceId" property="deviceid" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="sendTime" property="sendtime" jdbcType="TIMESTAMP" />
    <result column="sendNum" property="sendnum" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="youkeId" property="youkeid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, taskId, wxPersonal,deviceid ,createTime, sendTime, sendNum, content, state, youkeId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_wxper_multiple_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_wxper_multiple_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="youke.common.model.TWxPerMultipleRecord" useGeneratedKeys="true" keyProperty="id">
    insert into t_wxper_multiple_record (id, taskId, wxPersonal, deviceId,
      createTime, sendTime, sendNum, 
      content, state, youkeId
      )
    values (#{id,jdbcType=BIGINT}, #{taskid,jdbcType=BIGINT}, #{wxpersonal,jdbcType=VARCHAR}, #{deviceid},
      #{createtime,jdbcType=TIMESTAMP}, #{sendtime,jdbcType=TIMESTAMP}, #{sendnum,jdbcType=INTEGER}, 
      #{content,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, #{youkeid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="youke.common.model.TWxPerMultipleRecord" useGeneratedKeys="true" keyProperty="id">
    insert into t_wxper_multiple_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="taskid != null" >
        taskId,
      </if>
      <if test="wxpersonal != null" >
        wxPersonal,
      </if>
      <if test="deviceid != null">
        deviceId,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="sendtime != null" >
        sendTime,
      </if>
      <if test="sendnum != null" >
        sendNum,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="youkeid != null" >
        youkeId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="taskid != null" >
        #{taskid,jdbcType=BIGINT},
      </if>
      <if test="wxpersonal != null" >
        #{wxpersonal,jdbcType=VARCHAR},
      </if>
      <if test="deviceid != null">
        #{deviceid},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendtime != null" >
        #{sendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendnum != null" >
        #{sendnum,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="youkeid != null" >
        #{youkeid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="youke.common.model.TWxPerMultipleRecord" >
    update t_wxper_multiple_record
    <set >
      <if test="taskid != null" >
        taskId = #{taskid,jdbcType=BIGINT},
      </if>
      <if test="wxpersonal != null" >
        wxPersonal = #{wxpersonal,jdbcType=VARCHAR},
      </if>
      <if test="deviceid != null">
        deviceId = #{deviceid},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendtime != null" >
        sendTime = #{sendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendnum != null" >
        sendNum = #{sendnum,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="youkeid != null" >
        youkeId = #{youkeid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="youke.common.model.TWxPerMultipleRecord" >
    update t_wxper_multiple_record
    set taskId = #{taskid,jdbcType=BIGINT},
      wxPersonal = #{wxpersonal,jdbcType=VARCHAR},
      deviceId = #{deviceid},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      sendTime = #{sendtime,jdbcType=TIMESTAMP},
      sendNum = #{sendnum,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      youkeId = #{youkeid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectList" parameterType="youke.common.model.vo.param.wxper.MassTaskRecordQueryVo" resultType="java.util.Map">
    select t1.*, t2.contentType, t2.mediaUrl from
      t_wxper_multiple_record t1
      JOIN t_wxper_multiple_task t2 on t1.taskId = t2.id
      <where>
          t1.youkeId = #{youkeId}
        <if test="nickName != null">
          AND t1.wxPersonal LIKE #{nickName}
        </if>
        <if test="content != null">
          AND t1.content LIKE #{content}
        </if>
        <if test="begCreateTime != null">
          AND t1.createTime &gt;= #{begCreateTime}
        </if>
        <if test="endCreateTime != null">
          AND t1.createTime &lt;= #{endCreateTime}
        </if>
        <if test="begSendTime != null">
          AND t1.sendTime &gt;= #{begSendTime}
        </if>
        <if test="endSendTime != null">
          AND t1.sendTime &lt;= #{endSendTime}
        </if>
        <if test="sendNumBegs > -1">
          AND t1.sendNum &gt;= #{sendNumBegs}
        </if>
        <if test="sendNumEnds > -1">
          AND t1.sendNum &lt;= #{sendNumEnds}
        </if>
        <if test="state > -1">
          <if test="state == 2">
            AND (t1.state = 2 or t1.state = 4)
          </if>
          <if test="state != 2">
            AND t1.state = #{state}
          </if>
        </if>
      </where>
      order by t1.id desc
  </select>
</mapper>